In [1]:
import pandas as pd
import pickle as pkl

In [2]:
df=pkl.load(open("../data/CA_1_0.pkl","rb"))
df.head()

c:\Users\youss.YOUSSEF\OneDrive\Desktop\Nouveau dossier (6)\.venv\Lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()
c:\Users\youss.YOUSSEF\OneDrive\Desktop\Nouveau dossier (6)\.venv\Lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,id,item_id,dept_id,cat_id,store_id,state_id,d,sold,wm_yr_wk,weekday,...,cat_dept_sold_avg,store_item_sold_avg,cat_item_sold_avg,dept_item_sold_avg,state_store_sold_avg,state_store_cat_sold_avg,store_cat_dept_sold_avg,rolling_sold_mean,expanding_sold_mean,selling_trend
1067150,14370,1437,3,1,0,0,36,0,11106,2,...,0.695801,0.321533,0.216553,0.216553,1.304688,0.801758,1.020508,0.0,0.0,-0.321533
1067151,14380,1438,3,1,0,0,36,0,11106,2,...,0.695801,0.253906,0.259766,0.259766,1.304688,0.801758,1.020508,0.0,0.0,-0.253906
1067152,14390,1439,3,1,0,0,36,0,11106,2,...,0.695801,0.156982,0.076660,0.076660,1.304688,0.801758,1.020508,0.0,0.0,-0.156982
1067153,14400,1440,3,1,0,0,36,0,11106,2,...,0.695801,1.694336,2.011719,2.011719,1.304688,0.801758,1.020508,0.0,0.0,-1.694336
1067154,14410,1441,3,1,0,0,36,0,11106,2,...,0.695801,0.958984,0.755371,0.755371,1.304688,0.801758,1.020508,0.0,0.0,-0.958984

In [3]:
columns_name=df.columns
print(columns_name)

Index(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'd',
       'sold', 'wm_yr_wk', 'weekday', 'wday', 'month', 'year', 'event_name_1',
       'event_type_1', 'event_name_2', 'event_type_2', 'snap_CA', 'snap_TX',
       'snap_WI', 'sell_price', 'revenue', 'sold_lag_1', 'sold_lag_2',
       'sold_lag_3', 'sold_lag_6', 'sold_lag_12', 'sold_lag_24', 'sold_lag_36',
       'iteam_sold_avg', 'state_sold_avg', 'store_sold_avg', 'cat_sold_avg',
       'dept_sold_avg', 'cat_dept_sold_avg', 'store_item_sold_avg',
       'cat_item_sold_avg', 'dept_item_sold_avg', 'state_store_sold_avg',
       'state_store_cat_sold_avg', 'store_cat_dept_sold_avg',
       'rolling_sold_mean', 'expanding_sold_mean', 'selling_trend'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4466785 entries, 1067150 to 45707558
Data columns (total 44 columns):
 #   Column                    Dtype
---  ------                    -----
 0   id                        int16
 1   item_id                   int16
 2   dept_id                   int8
 3   cat_id                    int8
 4   store_id                  int8
 5   state_id                  int8
 6   d                         int16
 7   sold                      int16
 8   wm_yr_wk                  int16
 9   weekday                   int8
 10  wday                      int8
 11  month                     int8
 12  year                      int16
 13  event_name_1              int8
 14  event_type_1              int8
 15  event_name_2              int8
 16  event_type_2              int8
 17  snap_CA                   int8
 18  snap_TX                   int8
 19  snap_WI                   int8
 20  sell_price                float16
 21  revenue                   float32
 22  sold_lag_1                float16
 23  sold_lag_2                float16
 24  sold_lag_3                float16
 25  sold_lag_6                float16
 26  sold_lag_12               float16
 27  sold_lag_24               float16
 28  sold_lag_36               float16
 29  iteam_sold_avg            float16
 30  state_sold_avg            float16
 31  store_sold_avg            float16
 32  cat_sold_avg              float16
 33  dept_sold_avg             float16
 34  cat_dept_sold_avg         float16
 35  store_item_sold_avg       float16
 36  cat_item_sold_avg         float16
 37  dept_item_sold_avg        float16
 38  state_store_sold_avg      float16
 39  state_store_cat_sold_avg  float16
 40  store_cat_dept_sold_avg   float16
 41  rolling_sold_mean         float16
 42  expanding_sold_mean       float16
 43  selling_trend             float16
dtypes: float16(23), float32(1), int16(6), int8(14)
memory usage: 357.8 MB