In [1]:
import pandas as pd
import pickle as pkl

In [2]:
# Allow unlimited columns and rows
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
# Optional: Set max column width to see full text content
pd.set_option('display.max_colwidth', None)

In [3]:
df=pkl.load(open("../data/CA_1_7.pkl","rb"))
df.head()

c:\Users\youss.YOUSSEF\OneDrive\Desktop\Nouveau dossier (6)\.venv\Lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,id,item_id,dept_id,cat_id,store_id,state_id,d,sold,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price,revenue,sold_lag_1,sold_lag_2,sold_lag_3,sold_lag_6,sold_lag_12,sold_lag_24,sold_lag_36,iteam_sold_avg,state_sold_avg,store_sold_avg,cat_sold_avg,dept_sold_avg,cat_dept_sold_avg,store_item_sold_avg,cat_item_sold_avg,dept_item_sold_avg,state_store_sold_avg,state_store_cat_sold_avg,store_cat_dept_sold_avg,rolling_sold_mean,expanding_sold_mean,selling_trend
56711400,14370,1437,3,1,0,0,1861,1,11605,4,6,3,2016,-1,-1,-1,-1,1,1,1,8.257812,8.257812,0.0,2.0,0.0,1.0,2.0,2.0,1.0,0.216553,1.21582,1.304688,0.561035,0.695801,0.695801,0.321533,0.216553,0.216553,1.304688,0.801758,1.020508,1.428711,0.294434,0.678711
56711401,14380,1438,3,1,0,0,1861,1,11605,4,6,3,2016,-1,-1,-1,-1,1,1,1,3.970703,3.970703,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.259766,1.21582,1.304688,0.561035,0.695801,0.695801,0.253906,0.259766,0.259766,1.304688,0.801758,1.020508,0.142822,0.259521,0.746094
56711402,14390,1439,3,1,0,0,1861,0,11605,4,6,3,2016,-1,-1,-1,-1,1,1,1,2.970703,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.076660,1.21582,1.304688,0.561035,0.695801,0.695801,0.156982,0.076660,0.076660,1.304688,0.801758,1.020508,0.000000,0.138062,-0.156982
56711403,14400,1440,3,1,0,0,1861,1,11605,4,6,3,2016,-1,-1,-1,-1,1,1,1,4.640625,4.640625,0.0,0.0,0.0,3.0,5.0,4.0,2.0,2.011719,1.21582,1.304688,0.561035,0.695801,0.695801,1.694336,2.011719,2.011719,1.304688,0.801758,1.020508,1.428711,1.711914,-0.694336
56711404,14410,1441,3,1,0,0,1861,0,11605,4,6,3,2016,-1,-1,-1,-1,1,1,1,2.880859,0.000000,1.0,2.0,1.0,1.0,0.0,1.0,1.0,0.755371,1.21582,1.304688,0.561035,0.695801,0.695801,0.958984,0.755371,0.755371,1.304688,0.801758,1.020508,1.000000,0.958496,-0.958984

In [4]:
df['sold'].head(100)

56711400    1
56711401    1
56711402    0
56711403    1
56711404    0
56711405    2
56711406    1
56711407    0
56711408    0
56711409    0
56711410    0
56711411    0
56711412    1
56711413    3
56711414    2
56711415    9
56711416    1
56711417    0
56711418    0
56711419    0
56711420    1
56711421    0
56711422    0
56711423    0
56711424    1
56711425    0
56711426    0
56711427    0
56711428    0
56711429    1
56711430    0
56711431    1
56711432    0
56711433    1
56711434    0
56711435    1
56711436    1
56711437    1
56711438    0
56711439    0
56711440    0
56711441    0
56711442    8
56711443    0
56711444    0
56711445    1
56711446    0
56711447    9
56711448    1
56711449    2
56711450    0
56711451    0
56711452    0
56711453    1
56711454    0
56711455    0
56711456    1
56711457    0
56711458    0
56711459    0
56711460    0
56711461    0
56711462    3
56711463    0
56711464    1
56711465    0
56711466    4
56711467    1
56711468    0
56711469    2
56711470    0
56711471    2
56711472    1
56711473    0
56711474    0
56711475    1
56711476    0
56711477    0
56711478    1
56711479    0
56711480    1
56711481    1
56711482    3
56711483    1
56711484    0
56711485    0
56711486    1
56711487    1
56711488    2
56711489    0
56711490    0
56711491    1
56711492    0
56711493    0
56711494    1
56711495    0
56711496    0
56711497    0
56711498    2
56711499    0
Name: sold, dtype: int16

In [8]:
columns_name=df.columns
print(columns_name)

Index(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'd',
       'sold', 'wm_yr_wk', 'weekday', 'wday', 'month', 'year', 'event_name_1',
       'event_type_1', 'event_name_2', 'event_type_2', 'snap_CA', 'snap_TX',
       'snap_WI', 'sell_price', 'revenue', 'sold_lag_1', 'sold_lag_2',
       'sold_lag_3', 'sold_lag_6', 'sold_lag_12', 'sold_lag_24', 'sold_lag_36',
       'iteam_sold_avg', 'state_sold_avg', 'store_sold_avg', 'cat_sold_avg',
       'dept_sold_avg', 'cat_dept_sold_avg', 'store_item_sold_avg',
       'cat_item_sold_avg', 'dept_item_sold_avg', 'state_store_sold_avg',
       'state_store_cat_sold_avg', 'store_cat_dept_sold_avg',
       'rolling_sold_mean', 'expanding_sold_mean', 'selling_trend'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 182940 entries, 56711400 to 58513358
Data columns (total 44 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id                        182940 non-null  int16
 1   item_id                   182940 non-null  int16
 2   dept_id                   182940 non-null  int8
 3   cat_id                    182940 non-null  int8
 4   store_id                  182940 non-null  int8
 5   state_id                  182940 non-null  int8
 6   d                         182940 non-null  int16
 7   sold                      182940 non-null  int16
 8   wm_yr_wk                  182940 non-null  int16
 9   weekday                   182940 non-null  int8
 10  wday                      182940 non-null  int8
 11  month                     182940 non-null  int8
 12  year                      182940 non-null  int16
 13  event_name_1              182940 non-null  int8
 14  event_type_1              182940 non-null  int8
 15  event_name_2              182940 non-null  int8
 16  event_type_2              182940 non-null  int8
 17  snap_CA                   182940 non-null  int8
 18  snap_TX                   182940 non-null  int8
 19  snap_WI                   182940 non-null  int8
 20  sell_price                182940 non-null  float16
 21  revenue                   182940 non-null  float32
 22  sold_lag_1                182940 non-null  float16
 23  sold_lag_2                182940 non-null  float16
 24  sold_lag_3                182940 non-null  float16
 25  sold_lag_6                182940 non-null  float16
 26  sold_lag_12               182940 non-null  float16
 27  sold_lag_24               182940 non-null  float16
 28  sold_lag_36               182940 non-null  float16
 29  iteam_sold_avg            182940 non-null  float16
 30  state_sold_avg            182940 non-null  float16
 31  store_sold_avg            182940 non-null  float16
 32  cat_sold_avg              182940 non-null  float16
 33  dept_sold_avg             182940 non-null  float16
 34  cat_dept_sold_avg         182940 non-null  float16
 35  store_item_sold_avg       182940 non-null  float16
 36  cat_item_sold_avg         182940 non-null  float16
 37  dept_item_sold_avg        182940 non-null  float16
 38  state_store_sold_avg      182940 non-null  float16
 39  state_store_cat_sold_avg  182940 non-null  float16
 40  store_cat_dept_sold_avg   182940 non-null  float16
 41  rolling_sold_mean         182940 non-null  float16
 42  expanding_sold_mean       182940 non-null  float16
 43  selling_trend             182940 non-null  float16
dtypes: float16(23), float32(1), int16(6), int8(14)
memory usage: 14.7 MB

In [ ]:
df.drop('sold',axis=1,inplace=True)
df
df.to_csv('../data/CA_1_0.csv',index=False,header=True)